<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basket.basketproject.workservice.mapper.AccountInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.basket.basketproject.workservice.entity.AccountInfoPO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="account_code" property="accountCode" />
        <result column="account_name" property="accountName" />
        <result column="phone_no" property="phoneNo" />
        <result column="head_portrait" property="headPortrait" />
        <result column="is_employee" property="isEmployee" />
        <result column="account_pwd" property="accountPwd" />
        <result column="balance" property="balance" />
        <result column="account_level" property="accountLevel" />
        <result column="integral" property="integral" />
        <result column="gift_card" property="giftCard" />
        <result column="coupon" property="coupon" />
        <result column="address" property="address" />
        <result column="other_info" property="otherInfo" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

</mapper>
